:root {
  --primary-color: #fb0066;
  --secondary-color: #fffff9;
  --box-shadow: 6px 6px 12px #dfd3d3, -18px -18px 36px #fceff7;
  --background-gradient: radial-gradient(
    63.17% 84.28% at 34.64% 0%,
    #fffceb 0%,
    #ffe5f0 65.1%,
    #fffff9 100%
  );
  --background-cards: linear-gradient(
    20deg,
    #ffe5f0 0%,
    #fffff9 50%,
    #fffff9 100%
  );
  --primary-font-color: #13002b;
  --heading-font-family: "Austen";
  --body-font-family: "Atkinson Hyperlegible";
}

.navbar {
  position: fixed;
  transition: 0.5s;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
  font-family: var(--body-font-family);
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}

footer {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.navbar-nav li {
  padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-color);
}

.nav-link {
  color: var(--primary-font-color);
}

.inactive-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.hero {
  background-image: var(--background-gradient);
  background-size: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  min-height: 100vh;
  padding-top: 23vh;
}

.btn-main {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.6rem;
  background-color: var(--secondary-color);
  box-shadow: 8px 8px 0 0 var(--primary-color);
  position: relative;
  left: -6px;
  top: -6px;
  padding: 0.85rem 1.45rem;
  transition: 0.2s, box-shadow 0.2s;
  font-size: 1.1rem;
}

.btn-main:hover {
  left: 0;
  top: 0;
  box-shadow: 0 0 0 0 var(--primary-color);
  color: var(--primary-color);
}

.btn-dark {
  color: var(--primary-font-color);
  border: 2px solid var(--primary-font-color);
  border-radius: 0.6rem;
  background-color: var(--secondary-color);
  box-shadow: 8px 8px 0 0 var(--primary-font-color);
  position: relative;
  left: -6px;
  top: -6px;
  padding: 0.85rem 1.45rem;
  transition: 0.2s, box-shadow 0.2s;
  font-size: 1.1rem;
}

.btn-dark:hover {
  left: 0;
  top: 0;
  box-shadow: 0 0 0 0 var(--primary-font-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.projects {
  padding-left: 5rem;
  padding-right: 5rem;
}

.projects-card {
  box-shadow: 0 4px 3px 0 rgb(0 0 0 / 5%);
  border-radius: 0.6rem;
}

.contact-link {
  color: var(--primary-color);
  font-size: 1.2rem;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.social-links a {
  color: var(--primary-color);
  background: var(--secondary-color);
  border-radius: 50%;
  font-size: 1.4rem;
  margin: 0 0.5rem;
  padding: 10px 15px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.secondary-hero {
  padding-top: 23vh;
}

.secondary-title {
  font-size: 2.7rem;
}

.rose-pic {
  margin: 0 auto;
  padding: 0;
  width: 400px;
}

.skillset {
  margin-right: 0.5rem;
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .hero {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .projects {
    padding: 0;
  }

  .secondary-title {
    font-size: 2.2rem;
  }

  .rose-pic {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .rose-info {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .skillset-details {
    display: block;
    width: 50%;
  }
}
